body {
    margin: 0;
    font-family: 'Arial, sans-serif';
    background: linear-gradient(to right, #ff7e5f, #feb47b); /* Gradient background */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

.container {
    text-align: center;
    background-color: rgba(255, 255, 255, 0.8); /* White background with some transparency */
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    animation: fadeIn 2s ease-in-out;
    max-width: 70%; /* Adjust the maximum width of the container */
    margin: auto; /* Center align the container */
}

h1 {
    color: #333;
    font-size: 2.5em;
    margin-bottom: 20px;
    animation: slideIn 1.5s ease-in-out;
    font-family: "Ga Maamli", sans-serif;
    font-weight: 400;
    font-style: normal;
      
}

p {
    color: #555;
    font-size: 1.2em;
    line-height: 1.6;
    margin-bottom: 30px;
    animation: slideIn 2s ease-in-out;
}

button {
    background-color: #ff7e5f;
    color: white;
    border: none;
    padding: 15px 30px;
    border-radius: 10px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    animation: fadeIn 3s ease-in-out;
}

button:hover {
    background-color: #feb47b;
}

button:active {
    transform: scale(1.1);
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes slideIn {
    from { transform: translateY(20px); opacity: 0; }
    to { transform: translateY(0); opacity: 1; }
}
